.forum-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    min-width: 250px;
    margin: 0 auto;
    padding: 20px;
}

.search-button, .filter-button {
    margin: 10px;
    padding: 10px;
    margin-left: 0px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    transition-timing-function: ease-out;
    border-radius: 30px;
    margin: 10px;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 80%;
    padding: 12px;
    border-radius: 30px;
}
body.dark-mode .search-input{
    background: rgb(56, 56, 56);
}

.search-button:hover, .filter-button:hover {
    background-color: rgb(46, 46, 46);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-1.2px);
}

.container.wide.response {
    max-width: 945px;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
}

.response-wrapper {
    margin-left: 15px;
    padding-right: 15px;
    border-left: 2px solid black;

}
