.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 5px 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
body.dark-mode .navbar{
  background: rgb(53, 53, 53);
}

.nav-left button,
.nav-right button {
  margin: 10px;
  background: none;
  border: none;
  color: #333;
  font-weight: 600;
  cursor: pointer;
  transition: .16s;
}
body.dark-mode .nav-left button,
body.dark-mode .nav-right button{
  color: rgb(255, 255, 255);
}


.nav-left button:last-child {
  margin-right: 0;
}

nav button:hover {
  color: green;
}
body.dark-mode nav button:hover {
  color: rgb(0, 158, 0);
}
  